<!DOCTYPE html>
<html lang="en">
    <head>
        <title>toKnowAbout.Me | Quizzes, riddles and more</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/css/materialize.min.css">
    </head>
    <body class="grey lighten-5">
        {% include "Partials/Navbar.twig" %}

        {% block content %}
        {% endblock %}

        {# Footer here #}
        <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.2.1,npm/materialize-css@1.0.0"></script>
    </body>
</html>
